.differentials {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.differentials__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.differentials__item {
    max-width: 350px;

    box-sizing: border-box;

    padding: 2rem 0 2rem 5rem;
}

.item__title {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.item__text {
    line-height: normal;
}